* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --border--width: 3px;
  --border--style: solid;
  --border: var(--border--width) var(--border--style) #2f2d2d;
  --border-radius: 20px;
  --border-radius: 0px;
  --border-radius: 10px;

  --color: #2f2f2f;
  /* CONTENT */
  --content__bg-color: lightcyan;
  --content__bg-color: beige;
  --content__bg-color: #ebe2cc;
  /* NAV-BAR */
  --navbar__bg-color: #8adef3;
  --navbar__bg-color: transparent;
  --navbar__bg-color: #c5bead;
  --navbar__apps__bg-color: whitesmoke;
  --navbar__apps__bg-color--active: #f0b910;
  /* WINDOW */
  --window__header__bg-color: #cfc7b0d2;
  --window__header__bg-color: #b5b1a5;
  --window__header__height: 5%;
  --window__content__bg-color: #f0ebde;
  --window__shadow: 2px 6px 0px 1px rgb(51, 43, 43);

  --window__controls__border-radius: 9px;
}
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 5rem; */
  background-color: #f3f4fd;
  color: var(--color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.screen {
  background: var(--content__bg-color);
  /* border: var(--border); */
  padding: 0;
  overflow: hidden;
  .notification-bar {
    height: 20px;
    background-color: #5f5a4c67;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  .notification-bar svg {
    opacity: 0.8;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  #content {
    background-color: var(--content__bg-color);
    flex-basis: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
  }
  #windows-container {
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: 3;
    top: 0;
    height: 0;
  }
  .window {
    border: var(--border);
    position: absolute;
    top: 20%;
    left: 20%;
    width: 350px;
    height: 300px;
    min-width: 250px;
    min-height: 250px;
    font-weight: bold;

    background-color: aliceblue;
    border-radius: var(--border-radius);
    resize: both;
    overflow: auto;

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
      z-index 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
  }
  .window.active {
    /* border: 4px solid #20d19c; */
    box-shadow: var(--window__shadow);
    z-index: 5;
  }
  .window.active .window__header {
    background-color: #f0b910;
  }
  .window__header {
    background-color: var(--window__header__bg-color);
    flex-basis: var(--window__header__height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: move;
    padding: 0.3rem;
    padding-left: 0.5rem;
    border-bottom: var(--border) black;
  }
  .window__header .name {
    flex-basis: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .window__controls {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
    gap: 0.1rem;
  }
  .window__controls .control {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* pointer-events: none; */
    width: 32px;
    height: 32px;
    border: var(--border);
    opacity: 0.7;
    border-radius: var(--window__controls__border-radius);

    &:hover {
      opacity: 0.9;
      background-color: #c5bead;
    }
  }
  .window__content {
    flex-basis: 95%;
    background-color: var(--window__content__bg-color);
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: auto;
    > div {
      border: none;
      outline: none;
      font-family: 'Courier New', Courier, monospace;
    }
  }
  .window.min {
    transform: translate(0%, 250%) scale(0);
  }
  .window.close {
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  #icons {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    padding-left: 0.5rem;
    flex-wrap: wrap;

    .icon {
      /* color: white; */
      /* width: 90px;
      height: 90px; */
      width: 100px;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      /* justify-content: center; */
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      border-radius: 6px;
      /* padding: 1rem; */
      &:hover {
        opacity: 0.9;
      }

      &:active {
        transform: scale(0.95);
      }

      .name {
        font-size: 1rem;
      }
    }
  }
  #footer-app-bar {
    /* flex-basis: 5%; */
    position: absolute;
    bottom: 0;
    left: 40%;
    z-index: 10;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    /* border-top: var(--border);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius); */

    .min__app {
      width: 48px;
      height: 48px;
      background-color: var(--navbar__apps__bg-color);
      border-radius: var(--border-radius);
      border: var(--border);

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        opacity: 0.9;
      }
      &:active {
        transition: all 0.3s ease-in-out;
        transform: scale(0.95);
        opacity: 0.9;
      }
      &.active {
        background-color: var(--navbar__apps__bg-color--active);
      }
    }
  }
  .menu__right-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0rem;

    .overlay {
      width: 100%;
      height: 100%;

      position: absolute;
      z-index: 3;
      /* background-color: rgba(190, 83, 83, 0.1); */
    }
    .menu__right {
      position: absolute;

      z-index: 3;

      width: 9rem;
      /* height: 200px; */
      background-color: whitesmoke;
      border: var(--border);
      border-radius: var(--border-radius);

      display: flex;
      flex-direction: column;
      gap: 0rem;

      overflow: hidden;
      cursor: pointer;

      .action {
        border: none;
        border-bottom: var(--border);

        height: 36px;
        padding: 1rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        cursor: pointer;
        &:hover {
          opacity: 0.9;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
      .action:nth-last-child(1) {
        border: none;
      }
    }
  }
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.file {
  cursor: pointer;
  /* width: 100px; */
  > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &:hover {
    background-color: #cfc7b0d2;
  }
}

.editor {
  /* background-color: rgba(128, 128, 128, 0.3); */
  height: 100%;
  padding: 0.3rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rebeccapurple;
  font-weight: bold;
  font-size: 2rem;
  overflow: auto;
  > * {
    font-size: 1rem;
    border-bottom: 2px solid gray;
    /* font-weight: 400; */
  }
}

*::-webkit-scrollbar {
  width: 1rem;
  cursor: pointer;
}

*::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.39);
  border: var(--border);
}

*::-webkit-scrollbar-thumb {
  background-color: #f0b910;

  border: var(--border);
  cursor: pointer;
}
